
{% include "ZiriPortfolio/static-head.html" %}

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll green-light_green">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__header-row" ">
          <h2>Ziri Issa</h2>
        </div>
        <div class="mdl-layout__header-row"> <!-- mdl-layout--large-screen-only  -->
        	<h4>Web Developer</h4>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark"">
          <a href="#portfolio" class="mdl-layout__tab is-active">Portfolio</a>
          <a href="#about" class="mdl-layout__tab">About</a>
          <a href="#contact" class="mdl-layout__tab">Contact</a>
          <!-- <a href="#features" class="mdl-layout__tab">Technology</a>
          <a href="#features" class="mdl-layout__tab">FAQ</a> -->         
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="portfolio">

         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>I design products from the ground up for people who want thoughtful, elegant solutions to their toughest problems.</h4>
                The following is a list of the projects i have been diectly involved with.
              </div>
            </div>
          </section>
          

        {% block work %}
        {% for project in work %}
       
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="mdl-card__media mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone  mdl-color-text--white" style="background: url('{{project.image.url}}') center / cover;">
           <!--  <img src="{{work.image.url}}" width="250" height="250" border="0" alt=""
			     style="padding:10px;"> -->
             <!--  <i class="material-icons">play_circle_filled</i> -->
            </header>
            
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{ project.title }}</h4>
                {{project.description}}
              </div>
              <div class="mdl-card__actions">
                <a href="{{ work.website }}" class="mdl-button">view project</a>
              </div>
            </div>
          </section>
          {% endfor %}
			<section class="section--center mdl-grid mdl-grid--no-spacing">
	            <div class="mdl-cell mdl-cell--6-col-desktop">
		           <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			            <div class="mdl-card mdl-cell mdl-cell--6-col-desktop">
			            {% if work.has_previous %}
			              <div class="mdl-card__supporting-text">
			                <a href="?page={{ work.previous_page_number }}"><h4>previous</h4></a>
			              </div>			              
			              {% endif %}
			            </div>	            
			         </section>
	            </div>	            
	            
	            <div class="mdl-cell mdl-cell--6-col">
			         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			            <div class="mdl-card mdl-cell mdl-cell--6-col-desktop">
			            {% if work.has_next %}
			              <div class="mdl-card__supporting-text">
			                <a href="?page={{ work.next_page_number }}"><h4>Next</h4></a>
			                Page {{ work.number }} of {{ work.paginator.num_pages }}.
			              </div>
			              {% endif %}
			            </div>	            
			         </section> 	
            </section>            
          {% endblock %}
        </div>


        <div class="mdl-layout__tab-panel" id="about">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">

           <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>About Ziri</h4>
                Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Read our features</a>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
          </section>
		  </div>
          </section>
        </div>


       <div class="mdl-layout__tab-panel" id="contact">
	          <section class="section--center mdl-grid mdl-grid--no-spacing">
	            <div class="mdl-cell mdl-cell--12-col">

		           <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		            <div class="mdl-card mdl-cell mdl-cell--12-col">
		              <div class="mdl-card__supporting-text">
		                <h4>Contact me</h4>
		                Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
		              </div>
		            </div>	            
		          </section>
			  </div>
	          </section>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
          </button>
        <footer class="mdl-mega-footer">
          
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              Copyright 2016
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a href="https://developers.google.com/web/starter-kit/">Ziri Issa</a></li>
              <li><a href="#">facebook</a></li>
              <li><a href="#">Tweeter</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
   
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </body>
</html>
